# Web framework
flask

#ColPali - some additions to fix memory issues
git+https://github.com/andreaparker/byaldi/edit/ap-feat/byaldi/colpali.py@feat-ap

# Core ML libraries
torch
torchvision

# Project-specific libraries
qwen-vl-utils

# API integration
openai

# Utility libraries
einops
docx2pdf
markdown

